<div class="row1">
	<div class="col-12">
	</div>
</div>
<div class="row sign_up_row2">
	<div class="col-4 col-offset"></div>
	<div class="col-4 sign_in_col">
		<div class="feed_wrap">
			<h2 class="site_name">Sign in to your Bitter account</h2>
			<form id="sign_in_form" action="/sign_in" method="POST">
				<input class="sign_in_bar" type="email" name="user[email]" placeholder="Email">
				<input class="sign_in_bar" type="password" name="user[password]" placeholder="Password">
				<input class="create_button right margin" type="submit" value="Sign In">
			</form>
		</div>
	</div>
	<div class="col-4 col-offset"></div>
	<div class="row">
		<div class="col-3 col-offset"></div>
		<div class="col-6">
			<p id="dont" class="sign_up">Don't have an account already?</p>
		</div>
		<div class="col-3 col-offset"></div>
	</div>
	<div class="row">
		<div class="col-3 col-offset"></div>
		<div class="col-6">
			<a id="sign" class="sign_up" href="/sign_up">Sign up for free!</a>
		</div>
		<div class="col-3 col-offset"></div>
	</div>
</div>