<div class="row1">
	<div class="col-12">
	</div>
</div>
<div class="row row2">
	<div class="col-12 feed_col">
		<div class="feed_wrap">
			<h1 class="site_name"><%= @user.first_name %> <%= @user.last_name %></h1>
		</div>
		<% @user.posts.each do |post| %>
			<%= render post %>
		<% end %>
		</div>
	</div>
</div>
